<!DOCTYPE html>
<html>
<head>
  <title>CustomerMigrationTool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <% if current_user %>
    <%= link_to 'Logout', :logout %>
  <% else %>
    <%= link_to 'Login', :login %>
  <% end %>

<%= yield %>

</body>
</html>
